.modal-article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-white-90);
  border-radius: 10px;
}
.modal-article-title{
  margin: 20px;
  color: #000000;
  font-size: 20px;
  font-style: inherit;
  font-weight: bold;
}
