.bar_top_hold_hold{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  z-index: var(--z-aa);
  position: fixed;
  

  top: -64px;
  transform: translateY(0); /* Explicit default state */
  transition: transform 500ms cubic-bezier(0.0, 0.0, 0.2, 1);  

  left: 0;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
}

.is-visible{

  transform: translateY(128px); /* Slides it down to your 64px final position */
  transition: transform 500ms cubic-bezier(0.0, 0.0, 0.2, 1);

}
