.article_link {
}
.article_link_image {
  width: 100%;
}
.article_heading {
  margin-top: 6px;
  margin-bottom: 0px;
}
.article_heading_link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  text-decoration: none;
  color: var(--color-black-32);
}
.article_summary {
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.3;
  color: var(--color-black-64);
}
.article_tag {
  font-size: 12px;
  margin-top: 6px;
  color: var(--color-black-128);
}
.article_domain {
  font-size: 10px;
  margin-top: 6px;
  color: var(--color-black-128);
}

/**/

.__article-outer-outer{
  perspective: 1000px;
  width: 40%;
}

.__article-outer{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* .__article-outer-outer:hover .__article-outer {
  transform: rotateY(180deg);
}  */

.__article,
__article-back {
  display: flex;
  flex-direction:column;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: var(--shadow-sm);  
  background: var(--opa);
  transition: background 2s;
  border-radius: 4px;
}

__article-back {
  transform: rotateY(180deg);
}

/* media queries */
@media screen and (max-width: 701px) {
  .__article-outer-outer{
    width: 100%;
  }
}

@media screen and (max-width: 301px) {
  .__article-outer-outer {
    width: 301px;
  }
}


/* 
.__article-outer{ }


 */