.menu_box {
  display: flex;
  position: absolute;
  top: -72px;
  transform: translateY(0);
  transition: transform 5000ms cubic-bezier(0.0, 0.0, 0.2, 1);
  right: 0px;
  box-shadow: var(--shadow-sm);
  background: var(--opa);
  padding: 5px;
  border-radius: 5px;
  z-index: -100;
}
.is_visible_box {
  transform: translateY(136px);
  transition: transform 5000ms cubic-bezier(0.0, 0.0, 0.2, 1);
}